body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(212, 247, 253)
}

.App {
    text-align: left;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
    text-align: center;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.titoli{
    margin-left: 90px
}